<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Multimedia Stream Server</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/jquery-1.6.js"></script>
    <script type="text/javascript">
        function changeChannel(stream) {
            url="/stream/"+stream+"/change/"+$('select#channels').val()+"/"
            var jqxhr = $.get(url, function() {})
            .success(function() { alert("Channel Changed"); })
            .error(function() { alert("FAILED to change channel!"); })
        }
    </script>
</head>
<body>
    <div id="content">
        <div id="main">
            <h1>Multimedia Stream Server</h1>
            {% if streams %}
                <table id="streamTable">
                    <tr>
                        <th>Source</th>
                        <th>Channel</th>
                        <th>Destination(s)</th>
                        <th>Start Time</th>
                        <th>Stop</th>
                    </tr>
                    {% for stream in streams %}
                        <tr>
                            <td>{{stream.sourceName}}</td>
                            {% if stream.channels %}
                                <td>
                                <select id="channels" onchange="changeChannel({{ stream.id }});">
                                {% for c in stream.channels %}
                                    {% ifequal c.id stream.channelId %}
                                        <option selected="selected" value="{{ c.id }}">
                                    {% else %}
                                        <option value="{{ c.id }}">
                                    {% endifequal %}
                                    {{ c }}</option>
                                {% endfor %}
                                </select>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>
                            {% for dst in stream.dstNames %}
                            {{ dst }}</br>
                            {% endfor %}
                            </td>
                            <td>{{stream.time}}</td>
                            <td><b><a href="/stream/{{stream.id}}/stop/">X</a></b></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <div id="links">
                <a href="/start/">Start New Stream</a>
            </div>
        </div>
    </div>
</body>
</html>
