<html>
<head>
<title>New Stream</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script>
    function refreshBoxes() {
        // Hide All Boxes
        $("#filesWrapper").hide();
        $("#channelsWrapper").hide();
        $("#destinationsWrapper").hide();

        var url="/json/?source=" + $("select#id_sources").val();
        $.getJSON(url, function(data) {
            // Show Channels if we have channels
            if (data.channels.length > 0) {
                document.getElementById('id_channels').length = 0;
                $.each(data.channels, function(i, channel) {
                    $('select#id_channels').append($("<option></option>").attr("value",channel.id).text(channel.name));
                });
                $("#channelsWrapper").show();
                $("#destinationsWrapper").show();
            }
            // Show Files if we have a list of files
            else if (data.files.length > 0) {
                document.getElementById('id_files').length = 0;
                $.each(data.files, function(id, file) {
                   $('select#id_files').append($("<option></option>").attr("value",file).text(file));
                });
                $("#filesWrapper").show();
                $("#destinationsWrapper").show();
            }
            else {
                $("#destinationsWrapper").show();
            }
        });
    }
    $(document).ready(function () {
        $("#channelsWrapper").hide();
        $("#filesWrapper").hide();
        $("#destinationsWrapper").hide();

        refreshBoxes();

        $("select#id_sources").change(function() {
            refreshBoxes();
        });
    });
</script>
</head>
<body>
    <div id="content" style="width: 500px;">
        <div id="main">
            <h1>Start Stream</h1>
            {% if error_msg %}<p style="color: red;"><strong>Failed: {{ error_msg }}</strong></p>{% endif %}
            <form action="." method="post">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="sourcesWrapper">
                    {{ form.sources.errors }}
                    <label for="id_sources">Sources:</label>
                    {{ form.sources }}
                </div>
                <div id="channelsWrapper">
                    {{ form.channels.errors }}
                    <label for="id_channels">Channels:</label>
                    {{ form.channels }}
                </div>
                <div id="filesWrapper">
                    {{ form.files.errors }}
                    <label for="id_files">Files:</label>
                    {{ form.files }}
                </div>
                <div id="destinationsWrapper">
                    {{ form.destinations.errors }}
                    <label>Destinations:</label>
                    <fieldset class="dsts">
                    {{ form.destinations }}
                    </fieldset>
                </div>
                <p id="submitbutton"><input type="submit" value="Start Stream" /></p>
            </form>
        </div>
    </div>
</body>
</html>
